<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stimulus Radio Uncheck All</title>

    <script type="module">
      import "../app.css"
      import { Application } from "@hotwired/stimulus"
      import RadioUncheck from "./src/index"

      const application = Application.start()
      application.register("radio-uncheck", RadioUncheck)
    </script>
  </head>

  <body>
    <div class="relative h-full max-w-5xl mx-auto px-4">
      <section class="mt-16">
        <form data-controller="radio-uncheck" class="space-y-4">
          <div class="flex items-center gap-x-3">
            <input
              data-radio-uncheck-target="radio"
              id="team-1"
              name="team"
              type="radio"
              class="h-4 w-4 border-gray-300 text-orange-600 focus:ring-orange-600"
            />
            <label for="team-1" class="block text-sm/6 font-medium text-gray-900">Team #1</label>
          </div>
          <div class="flex items-center gap-x-3">
            <input
              data-radio-uncheck-target="radio"
              id="team-2"
              name="team"
              type="radio"
              class="h-4 w-4 border-gray-300 text-orange-600 focus:ring-orange-600"
            />
            <label for="team-2" class="block text-sm/6 font-medium text-gray-900">Team #2</label>
          </div>
          <div class="flex items-center gap-x-3">
            <input
              data-radio-uncheck-target="radio"
              id="team-3"
              name="team"
              type="radio"
              class="h-4 w-4 border-gray-300 text-orange-600 focus:ring-orange-600"
            />
            <label for="team-3" class="block text-sm/6 font-medium text-gray-900">Team #3</label>
          </div>
          <div>
            <button
              type="button"
              data-action="radio-uncheck#uncheck"
              class="rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500"
            >
              Uncheck
            </button>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
