{% capture image_url %}
    {{ include.img | prepend: '/assets/images/' | prepend: site.baseurl }}
{% endcapture %}

{% capture url %}
    {% if include.url %}
        {{ include.url }}
    {% else %}
        {{ image_url }}
    {% endif %}
{% endcapture %}

{% capture alt %}
    {% if include.alt %}
        {{ include.alt }}
    {% else %}
        {{ include.title }}
    {% endif %}
{% endcapture %}

<div class="text-center my-4">
  <a href="{{ url }}" title="{{ include.title }}" target="_blank" class="mt-3">
    <img src="{{ image_url }}" alt="{{ include.alt }}" width="{{ include.width }}" />
  </a>

  {% if include.caption %}
    <span class="block mt-2 italic text-grey-darker text-center">{{ include.caption }}</span>
  {% endif %}
</div>

