<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stimulus Lightbox</title>

    <script type="module">
      import "../app.css"
      import { Application } from "@hotwired/stimulus"
      import Lightbox from "./src/index"
      import "lightgallery/css/lightgallery.css"

      const application = Application.start()
      application.register("lightbox", Lightbox)
    </script>
  </head>

  <body>
    <div class="relative h-full max-w-5xl mx-auto px-4">
      <section class="mt-16">
        <div data-controller="lightbox" class="grid gap-4 md:grid-cols-3">
          <a
            href="https://images.unsplash.com/photo-1604042292937-4b2b4781c821?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2081&q=80"
          >
            <img
              src="https://images.unsplash.com/photo-1604042292937-4b2b4781c821?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2081&q=80"
              alt=""
            />
          </a>

          <a
            href="https://images.unsplash.com/photo-1603878662588-5908ad857cd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1615&q=80"
          >
            <img
              src="https://images.unsplash.com/photo-1603878662588-5908ad857cd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1615&q=80"
              alt=""
            />
          </a>

          <a
            href="https://images.unsplash.com/photo-1474044159687-1ee9f3a51722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
          >
            <img
              src="https://images.unsplash.com/photo-1474044159687-1ee9f3a51722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
              alt=""
            />
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
