<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stimulus Timeago</title>

    <script type="module">
      import "../app.css"
      import { Application } from "@hotwired/stimulus"
      import Timeago from "./src/index"

      const application = Application.start()
      application.register("timeago", Timeago)
    </script>
  </head>

  <body>
    <div class="relative h-full max-w-5xl mx-auto px-4">
      <section class="mt-16">
        Stimulus 1.0.0 was released

        <time
          data-controller="timeago"
          data-timeago-datetime-value="2018-01-30T09:00"
          data-timeago-include-seconds-value="true"
          data-timeago-add-suffix-value="true"
        ></time
        >.
      </section>
    </div>
  </body>
</html>
