<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stimulus Valid Form</title>

    <script type="module">
    import "../app.css"
    import { Application } from "@hotwired/stimulus"
    import ValidForm from "./src/index"

    const application = Application.start()
    application.register("valid-form", ValidForm)
    </script>
  </head>

  <body>
    <div class="relative h-full max-w-5xl mx-auto px-4">
      <section class="mt-16">
        <form
          action="/"
          data-controller="valid-form"
        >
          <input 
            type="text" required minlength="4" maxlength="8"
            class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
          <input type="submit" class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-4 border rounded shadow disabled:opacity-40 mx-auto px-8 py-2 text-sm rounded-md shadow-sm disabled:cursor-not-allowed">
        </form>
      </section>
    </div>
  </body>
</html>
