<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stimulus Dropdown</title>

    <script type="module">
      import "../app.css"
      import { Application } from "@hotwired/stimulus"
      import Dropdown from "./src/index"

      const application = Application.start()
      application.register("dropdown", Dropdown)
    </script>
  </head>

  <body>
    <div class="relative h-full max-w-5xl mx-auto px-4">
      <section class="mt-16 text-center">
        <div data-controller="dropdown" class="relative inline-block text-left">
          <div>
            <button
              type="button"
              data-action="dropdown#toggle click@window->dropdown#hide"
              class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
            >
              Options
              <svg
                class="-mr-1 ml-2 h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-left absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <div class="py-1">
              <a href="#" data-action="dropdown#toggle" class="bg-gray-100 text-gray-900 block px-4 py-2 text-sm"
                >Account settings</a
              >
              <a
                href="#"
                data-action="dropdown#toggle"
                class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm"
                >Support</a
              >
              <a
                href="#"
                data-action="dropdown#toggle"
                class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm"
                >License</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
